@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-role="view" data-layout="overview-layout" id="overview-cities" data-title="Favourite Cities">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Login:
            <ul>
                <li><h2>Username:</h2><input type="text" />
                <h2>Password:</h2><input type="password" /></li>
            </ul>

            <a class="button km-button" data-role="button" href="#button-home" data-widget="Button"><span class="km-text">Login</span></a>

        </li>
    </ul>
</div>
